@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #cacaca;
}

img {
  height: 2rem;
}

button {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  padding: 25px;
  cursor: pointer;
}

/* Main Content */
.wrapper {
  background: rgb(41, 41, 41);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  font-size: 2rem;
}

input {
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  caret-color: #cacaca;
  color: #cacaca;
}

/* Settings Button */
.settings-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.settings-btn:hover {
  background-color: #ffffff21;
}

/* Settings Menu */
.settings-menu.hidden {
  right: -300px;
}

.settings-menu.shown {
  right: 0;
}

.settings-menu {
  position: absolute;
  background-color: #454f53;
  width: 300px;
  height: 100%;
  transition: right 0.3s;
}

.menu-content {
  padding-left: 16px;
}

.list-divider {
  margin-bottom: 6px;
  margin-top: 12px;
}

li {
  list-style: none;
  display: flex;
  gap: 16px;
}
